<div>
    <h1>Feedback Form</h1>
    <form (submit)="onFormSubmit()">
        <div class="form-group">
            <label>Name</label>
            <input type="text" 
            class="form-control" 
            name="name" 
            id=""
            placeholder="Enter Name"
            [(ngModel)]="data.name">
          </div>
          <br>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" name="email" class="form-control" id=""placeholder="Enter email"
            [(ngModel)]="data.email" />
          </div>
          <br>
          <div class="form-group">
            <label for="feedback">FeedBack</label>
            <select name="feedback" id=""
            [(ngModel)]="data.feedback" >
              <option value="Very Satisfied">Very Satisfied</option>
              <option value="Satisfied">Satisfied</option>
              <option value="UnSatisfied">UnSatisfied</option>
            </select>
          </div>
          <br>
          <button type="submit">
            Submit
          </button>
    </form>
</div>
